/* src/components/InfoPanel.css */
.compo-info-panel {
    width: 380px; /* Ajusta el ancho según lo necesites */
    padding: 0 10px;
    background-color: #ffffff; /* Mismo fondo que el GameContainer */
    color: #1a1a1a;
    border: 2px solid #f0a500;
    border-radius: 8px;
    box-sizing: border-box;
  }
  